<!-- Displayed when the user logs in? Putting this here now as this will probably require a projects class in models.py -->
 <!--- Temporarily edited just to resolve dashbaord.html displaying nothing, issue with routes and app.py configuration-->
 <html>
<head>
    <title>ProveIt</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body> 
    <!----->
    <h1> hello? </h1>
</body>